<h3>Book Info</h3>

<div>
  <label for="">ID</label>
  <p class="p-3 mb-2 bg-dark text-white">{{book.id}}</p>
</div>

<div>
  <label for="">Title</label>
  <p class="p-3 mb-2 bg-dark text-white">{{book.title}}</p>
</div>

<div>
  <label for="">Author</label>
  <p class="p-3 mb-2 bg-dark text-white">{{book.author}}</p>
</div>

<div>
  <label for="">Description</label>
  <p class="p-3 mb-2 bg-dark text-white">{{book.description}}</p>
</div>

<div class="form-group">
  <button routerLink="" class="btn btn-primary">Back</button>
</div>
